# Ignore as many files as possible. This keeps the build context small.
*

# White-list packages.
!packages/exchange-aggregator/package.json
!packages/graphql-schema/package.json
!packages/graphql-server/package.json
!packages/manager-components/package.json
!packages/manager-interface/package.json
!packages/melon.js/package.json

# Package files required for building production images.
!packages/graphql-server/src/
!packages/graphql-server/.env.defaults
!packages/graphql-server/backpack.config.js
!packages/graphql-server/tsconfig.build.json

!packages/graphql-schema/src/

!packages/exchange-aggregator/src/

!packages/melon.js/lib/
!packages/melon.js/.babelrc

# White-list workspace root.
!yarn.lock
!package.json
!tsconfig.json
