# Ignore as many files as possible. This keeps the build context small.
*

# White list package directories.
!packages/

# For some reason we have to do this.
!packages/graphql-server/Dockerfile
!packages/manager-interface/Dockerfile
!packages/manager-components/Dockerfile

# White-list workspace root.
!yarn.lock
!package.json
!tsconfig.json
