# Ignore as many files as possible. This keeps the build context small.
*

!packages/exchange-aggregator/Dockerfile
!packages/graphql-schema/Dockerfile
!packages/graphql-server/Dockerfile
!packages/manager-components/Dockerfile
!packages/manager-interface/Dockerfile
!packages/faucet/Dockerfile
!packages/melon.js/Dockerfile

# White-list packages.
!packages/exchange-aggregator/package.json
!packages/graphql-schema/package.json
!packages/graphql-server/package.json
!packages/manager-components/package.json
!packages/manager-interface/package.json
!packages/faucet/package.json
!packages/melon.js/package.json

# Package files required for building production images.
!packages/graphql-server/src/
!packages/graphql-server/.babelrc
!packages/graphql-server/.env.defaults
!packages/graphql-server/backpack.config.js
!packages/graphql-server/tsconfig.build.json

!packages/graphql-schema/src/
!packages/graphql-schema/.babelrc

!packages/exchange-aggregator/src/
!packages/graphql-schema/.babelrc

!packages/melon.js/lib/
!packages/melon.js/.babelrc

!packages/manager-interface/src/
!packages/manager-interface/config/
!packages/manager-interface/.babelrc
!packages/manager-interface/.env.defaults
!packages/manager-interface/electron-builder.yml
!packages/manager-interface/electron.main.js
!packages/manager-interface/next.config.js
!packages/manager-interface/tsconfig.json

!packages/faucet/src/
!packages/faucet/config/
!packages/faucet/server.js
!packages/faucet/.babelrc
!packages/faucet/.env.defaults
!packages/faucet/next.config.js
!packages/faucet/tsconfig.json

!packages/manager-components/src/
!packages/manager-components/config/
!packages/manager-components/tsconfig.json
!packages/manager-components/tslint.json

# White-list workspace root.
!yarn.lock
!package.json
!tsconfig.json
