{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "extends": ["airbnb", "plugin:flowtype/recommended", "prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "max-params": ["warn", 3]
  }
}
