version: "3.4"

# Volume definitions for common workspace root dependencies.
x-workspace-prettier: &workspace-prettier ./.prettierrc:/app/.prettierrc:delegated
x-workspace-tsconfig: &workspace-tsconfig ./tsconfig.json:/app/tsconfig.json:delegated

# Volume definitions for common linked packages.
x-package-melon-js: &package-melon-js ./packages/melon.js:/app/packages/melon.js:delegated
x-package-exchange-aggregator: &package-exchange-aggregator ./packages/exchange-aggregator:/app/packages/exchange-aggregator:delegated
x-package-graphql-schema: &package-graphql-schema ./packages/graphql-schema:/app/packages/graphql-schema:delegated
x-package-graphql-server: &package-graphql-server ./packages/graphql-server:/app/packages/graphql-server:delegated
x-package-manager-components: &package-manager-components ./packages/manager-components:/app/packages/manager-components:delegated
x-package-manager-interface: &package-manager-interface ./packages/manager-interface:/app/packages/manager-interface:delegated

services:
  melon-js:
    build:
      context: .
      dockerfile: ./packages/melon.js/Dockerfile
    volumes: 
      - *workspace-prettier
      - ./packages/melon.js/lib:/app/packages/melon.js/lib
      - ./packages/melon.js/scripts:/app/packages/melon.js/scripts
      - ./packages/melon.js/tests:/app/packages/melon.js/tests
      - ./packages/melon.js/.babelrc:/app/packages/melon.js/.babelrc
      - ./packages/melon.js/.eslintrc:/app/packages/melon.js/.eslintrc
      - ./packages/melon.js/.eslintignore:/app/packages/melon.js/.eslintignore
      - ./packages/melon.js/.npmignore:/app/packages/melon.js/.npmignore
      - ./packages/melon.js/.flowconfig:/app/packages/melon.js/.flowconfig
      - ./packages/melon.js/.snyk:/app/packages/melon.js/.snyk
      - ./packages/melon.js/package.json:/app/packages/melon.js/package.json

  exchange-aggregator:
    build:
      context: .
      dockerfile: ./packages/exchange-aggregator/Dockerfile
    volumes: 
      - *workspace-prettier
      - ./packages/exchange-aggregator/src:/app/packages/exchange-aggregator/src
      - ./packages/exchange-aggregator/package.json:/app/packages/exchange-aggregator/package.json

  graphql-schema:
    build:
      context: .
      dockerfile: ./packages/graphql-schema/Dockerfile
    volumes: 
      - *workspace-prettier
      - *workspace-tsconfig
      - *package-melon-js
      - *package-exchange-aggregator
      - ./packages/graphql-schema/src:/app/packages/graphql-schema/src
      - ./packages/graphql-schema/tests:/app/packages/graphql-schema/tests
      # - ./packages/graphql-schema/typings:/app/packages/graphql-schema/typings
      - ./packages/graphql-schema/package.json:/app/packages/graphql-schema/package.json
      - ./packages/graphql-schema/tsconfig.json:/app/packages/graphql-schema/tsconfig.json
      - ./packages/graphql-schema/tslint.json:/app/packages/graphql-schema/tslint.json

  graphql-server:
    build:
      context: .
      dockerfile: ./packages/graphql-server/Dockerfile
      target: development
    volumes:
      - *workspace-prettier
      - *workspace-tsconfig
      - *package-melon-js
      - *package-graphql-schema
      - *package-exchange-aggregator
      - ./packages/graphql-server/src:/app/packages/graphql-server/src
      - ./packages/graphql-server/tests:/app/packages/graphql-server/tests
      - ./packages/graphql-server/typings:/app/packages/graphql-server/typings
      - ./packages/graphql-server/package.json:/app/packages/graphql-server/package.json
      - ./packages/graphql-server/tsconfig.json:/app/packages/graphql-server/tsconfig.json
      - ./packages/graphql-server/tsconfig.build.json:/app/packages/graphql-server/tsconfig.build.json
      - ./packages/graphql-server/tslint.json:/app/packages/graphql-server/tslint.json
      - ./packages/graphql-server/backpack.config.js:/app/packages/graphql-server/backpack.config.js
      - ./packages/graphql-server/.env.defaults:/app/packages/graphql-server/.env.defaults
      # - ./packages/graphql-server/.env:/app/packages/graphql-server/.env
    ports:
      - "3030:3030"
    networks:
      - melonproject

  manager-interface:
    build:
      context: .
      dockerfile: ./packages/manager-interface/Dockerfile
      target: development
    volumes:
      - *workspace-prettier
      - *workspace-tsconfig
      - *package-melon-js
      - *package-graphql-schema
      - *package-exchange-aggregator
      - *package-manager-components
      - ./packages/manager-interface/src:/app/packages/manager-interface/src
      - ./packages/manager-interface/config:/app/packages/manager-interface/config
      - ./packages/manager-interface/tests:/app/packages/manager-interface/tests
      # - ./packages/manager-interface/typings:/app/packages/manager-interface/typings
      - ./packages/manager-interface/package.json:/app/packages/manager-interface/package.json
      - ./packages/manager-interface/tsconfig.json:/app/packages/manager-interface/tsconfig.json
      - ./packages/manager-interface/tslint.json:/app/packages/manager-interface/tslint.json
      - ./packages/manager-interface/next.config.js:/app/packages/manager-interface/next.config.js
      - ./packages/manager-interface/.env.defaults:/app/packages/manager-interface/.env.defaults
      # - ./packages/manager-interface/.env:/app/packages/manager-interface/.env
    ports:
      - "3000:3000"
    networks:
      - melonproject

  manager-components:
    build:
      context: .
      dockerfile: ./packages/manager-components/Dockerfile
    volumes:
      - *workspace-prettier
      - *workspace-tsconfig
      - *package-melon-js
      - *package-graphql-schema
      - *package-exchange-aggregator
      - ./packages/manager-components/src:/app/packages/manager-components/src
      - ./packages/manager-components/config:/app/packages/manager-components/config
      - ./packages/manager-components/tests:/app/packages/manager-components/tests
      # - ./packages/manager-components/typings:/app/packages/manager-components/typings
      - ./packages/manager-components/package.json:/app/packages/manager-components/package.json
      - ./packages/manager-components/tsconfig.json:/app/packages/manager-components/tsconfig.json
      - ./packages/manager-components/tslint.json:/app/packages/manager-components/tslint.json
    ports:
      - "3060:3060"
    networks:
      - melonproject

  ipfs-frontend:
    build:
      context: .
      dockerfile: ./packages/ipfs-frontend/Dockerfile
    volumes:
      - *workspace-prettier
      - *package-melon-js
      - *package-graphql-schema
      - *package-exchange-aggregator
      - ./packages/ipfs-frontend/src:/app/packages/ipfs-frontend/src
      - ./packages/ipfs-frontend/public:/app/packages/ipfs-frontend/public
      - ./packages/ipfs-frontend/tests:/app/packages/ipfs-frontend/tests
      - ./packages/ipfs-frontend/config-overrides.js:/app/packages/ipfs-frontend/config-overrides.js
      - ./packages/ipfs-frontend/package.json:/app/packages/ipfs-frontend/package.json
      - ./packages/ipfs-frontend/.eslintrc:/app/packages/ipfs-frontend/.eslintrc
      - ./packages/ipfs-frontend/.eslintignore:/app/packages/ipfs-frontend/.eslintignore
      - ./packages/ipfs-frontend/.npmignore:/app/packages/ipfs-frontend/.npmignore
      - ./packages/ipfs-frontend/.flowconfig:/app/packages/ipfs-frontend/.flowconfig
      - ./packages/ipfs-frontend/.snyk:/app/packages/ipfs-frontend/.snyk
    ports:
      - "3001:3000"
    networks:
      - melonproject

networks:
  melonproject:
    external: true
