.radioButton {
  display: block;
  position: relative;
  padding-left: var(--spacingLarge);
  cursor: pointer;
  line-height: 1;
  color: var(--colorGold);

  &:hover input:enabled ~ .radioButton__checkmark {
    background-color: var(--colorGold);
  }

  & input:checked ~ .radioButton__checkmark {
    background-color: var(--colorGold);
  }

  & input:checked ~ .radioButton__checkmark:after {
    display: block;
  }

  & input:disabled ~ .radioButton__text {
    text-decoration: line-through;
    color: var(--colorGrey);
  }

  & input:disabled ~ .radioButton__checkmark {
    border-color: var(--colorGrey);
    cursor: not-allowed;
  }
}

.radioButton__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioButton__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid var(--colorGold);
  border-radius: 50%;
  transition-duration: .3s;

  &::after {
    content: '';
    position: absolute;
    display: none;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
}
