.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors__row {
  flex: 0 0 100%;
  overflow: hidden;

  @media (--baseSmallScreens) {
    flex: 0 0 50%;
  }

  @media (--baseMediumScreens) {
    flex: 0 0 33%;
  }

  @media (--baseLargeScreens) {
    flex: 0 0 20%;
  }
}

.colors__wrapper {
  border: 1px solid var(--colorPrimaryDark);
  margin: var(--spacing);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colors__color {
  min-height: 50px;
}

.colors__colorName,
.colors__colorCode {
  margin: var(--spacingSmall);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
