.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors__row {
  flex: 0 0 100%;

  @media (--baseSmallScreens) {
    flex: 0 0 50%;
  }

  @media (--baseMediumScreens) {
    flex: 0 0 33%;
  }

  @media (--baseLargeScreens) {
    flex: 0 0 20%;
  }
}

.colors__wrapper {
  border: 1px solid var(--colorPrimaryDark);
  margin: var(--spacing);
}

.colors__color {
  min-height: 50px;
}

.colors__colorName {
  margin: var(--spacingSmall);
}

.colors__colorCode {
  margin: var(--spacingSmall);
}
