.App {
  text-align: center;
  background-color: #fefefa;
  font-style: serif;
  font-size: small;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fefefa;
  height: 150px;
  padding: 20px;
  font-style: serif;
  font-size: large;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
