.input {
  border: 1px solid var(--colorSecondary);
  padding: var(--spacingSmaller);
  line-height: 1;

  &::placeholder {
    color: var(--colorGrey);
  }

  &:disabled {
    background-color: var(--colorSecondary);
  }
}
